*{
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h1,
h2,
h3{
  font-weight: bold;
}

.header h1{
  font-size: 70px;
}

.header h2{
  font-size: 23px;
}

.process h2,
.about h2{
  font-size: 32px;
}

.process h3,
.about h3{
  font-size: 23px;
}

p{
  font-size: 14px;
}

a{
  font-size: 18px;
  color: white;
}

.header{
  color: white;
  background-image: url("../Images/the-flatiron-building.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer{
  background-color: dimgray;
  font-size: 11px;
  text-align: left;
  color: white;
}
